 <div class="gridfeedtpl2">
    <div class="feed_content wth-nothumb">
      <a class="preview-file" ng-click="previewFile($ctrl.file)">
        <div class="art_desc" style="height:60px;padding: 5px;">
         <div  class="left_part">
            <div  class="floatl feedthumb_40">
            	<img ng-if="$ctrl.file.objectFileType == 'image'" src="../images/media/image_file.png" class="hori_center img-responsive ng-isolate-scope"/>
            	<img ng-if="$ctrl.file.fileType == 'Word'" src="../images/media/doc.png" class="hori_center img-responsive ng-isolate-scope"/>
            	<img ng-if="$ctrl.file.fileType == 'Excel'" src="../images/media/xls.png" class="hori_center img-responsive ng-isolate-scope"/>
            	<img ng-if="$ctrl.file.fileType == 'Powerpoint'" src="../images/media/ppt.png" class="hori_center img-responsive ng-isolate-scope"/>
            	<img ng-if="$ctrl.file.fileExtension == 'csv'" src="../images/media/csv.png" class="hori_center img-responsive ng-isolate-scope"/>
            	<img ng-if="$ctrl.file.fileExtension == 'pdf'" src="../images/media/pdf.png" class="hori_center img-responsive ng-isolate-scope"/>
            	<img ng-if="$ctrl.file.fileExtension == 'xsn'" src="../images/media/xsn.png" class="hori_center img-responsive ng-isolate-scope"/>
            	<img ng-if="$ctrl.file.fileExtension == 'xml'" src="../images/media/xml.png" class="hori_center img-responsive ng-isolate-scope"/>
            	<img ng-if="$ctrl.file.objectFileType == 'video'" src="../images/media/video_file.png" class="hori_center img-responsive ng-isolate-scope"/>
            </div>
          </div>

          <div class="right_part file_info">
          	<div ng-if="$ctrl.file.fileName != ''" class="post-title" ><span style="word-wrap: break-word;" once-html="$ctrl.file.fileName | highlight:$root.highlightText"></span></div>
         	<div class="tblc comm-feed-content">
				<div class="content-wrap">
					<!-- <div ng-if="!$ctrl.file.isGdrive">
						<a ui-sref="app.myprofile({uid: $ctrl.file.author.uid, activetab: 'About'})">
				       		<span style="color: #333;font-size:11px;" translate>Author</span>
                  <!-- <span class="uppercase" style="font-weight: 700;"> {{$ctrl.file.author.firstName}} {{$ctrl.file.author.lastName}}</span>  -->
                  <!-- <span> {{$ctrl.file.author.firstName}} {{$ctrl.file.author.lastName}}</span>
			    		</a>
			    	</div> -->
				  	<!-- <div>
						<span style="color: #333;font-size:11px;" translate>Source</span>
					 	<span class="uppercase" style="font-weight: 700;" ng-if="!$ctrl.file.isGdrive"> Internal</span>
					 	<span class="uppercase" style="font-weight: 700;" ng-if="$ctrl.file.isGdrive"> External</span>
            <span ng-if="!$ctrl.file.isGdrive"> Internal</span>
					 	<span ng-if="$ctrl.file.isGdrive"> External</span>
          </div> -->

			 	</div>
    		</div>
          </div>
        </div>
          <div class="activity-bar" style="font-size:11px;">
            <div class="tbltd-l">
        	  <a ui-sref="app.myprofile({uid: $ctrl.file.author.uid, activetab: 'About'})">
                    <div class="user-image circle-image" profile-photo="{url: $ctrl.file.author.headerLogoUrl, firstName: $ctrl.file.author.firstName, lastName: $ctrl.file.author.lastName}"></div>
                    <img style="position: absolute;z-index: 1;top: 300px;left: 20px;width: 25px;height: 25px;" ng-if="$root.isShowUserBadge && $ctrl.file.author.badge" src="{{$ctrl.file.author.badge.image.url}}">
                    {{$ctrl.file.author.firstName}} {{$ctrl.file.author.lastName}}<br>
                    <span style="color: #333;font-size:11px;" translate>Source</span>
                    <span ng-if="!$ctrl.file.isGdrive"> Internal</span>
        					 	<span ng-if="$ctrl.file.isGdrive"> External</span>
              </a>


              <feed-user-info
                        action-sentence="actSentence"
                        enable-tootip="{{enableTootip}}"
                        uid-user-tooltip="userDetail.uid"
                        index="$ctrl.index"
                        type-view="gridview"
              ></feed-user-info>
            </div>
            <div class="tbltd-r">

              <div class="fc3 other-info">
              	<span >{{$ctrl.file.fileUploadedDate | date: $root.fullDateFormat}}</span>
             </div>
            </div>
          </div>
          <!-- <feed-controls
                show-comment-label = "true"
                feed ="$ctrl.file"
            ></feed-controls> -->
                    <div class="hide" ng-include="'../app/views/blocks/feed.tpl.html'"></div>
                    <div style="height:35px;float: left;width: 100%;padding: 5px;"></div>
            </div>

        </div>
      </a>
    </div>
</div>
