<div ng-if="pathFolders.length > 0">    	
    	 <div class="bcrumb" ng-if="$index == 0 && feed != null">
		        <div id="bc1" class="btn-group btn-breadcrumb marb10">
		            <a ng-click="openRoot();" class="btn btn-default">Root</a>
		            <a ng-repeat="folder in pathFolders" class="btn btn-default">
		            	<div ng-click="openFolder(folder.id,folder.mimeType,folder.name,$index,'');" >{{folder.name}}</div>
		            </a>
		        <a ng-click="refeshFolder();" style="margin-left: 590px;margin-top: 9px;font-size: 20px;" class="fa fa-refresh fa-2" aria-hidden="true"></a>  
		        </div>
		</div>
		<div class="bcrumb" ng-if="$index == null">
		        <div id="bc1" class="btn-group btn-breadcrumb marb10">
		           <a ng-click="openRoot();" class="btn btn-default">Root</a>
		            <a ng-repeat="folder in pathFolders" class="btn btn-default">
		            	<div ng-click="openFolder(folder.id,folder.mimeType,folder.name,$index,'');" >{{folder.name}}</div>
		            </a>
		        <a ng-click="refeshFolder();" style="margin-left: 590px;margin-top: 9px;font-size: 20px;" class="fa fa-refresh fa-2" aria-hidden="true"></a>    
		        </div>
		        <h5 translate>No_activities_msg</h5>
		</div>   	
</div>
<div ng-if="pathFolders.length == 0 && $index == 0 && feed != null">
    	<div class="bcrumb">
		        <div id="bc1" class="btn-group btn-breadcrumb marb10">
		            <a ng-click="openRoot();" class="btn btn-default">Root</a>
		         <a ng-click="refeshFolder();" style="margin-left: 590px;margin-top: 9px;font-size: 20px;" class="fa fa-refresh fa-2" aria-hidden="true"></a>   
		        </div>
		</div>
 </div>
 <div class="cust1_feed_li bl_lv_feed gdrive-feed">
	<table ng-if="feed != null" class="table borderless marb0 bl_lv_feed">
		<thead ng-if="$index == 0">
			<tr>
				<th class="col-sm-1"></th>
				<th class="col-sm-9">{{ 'Name' | translate }}</th>				
				<th class="col-sm-2">{{ 'View ' | translate }}</th>
				<!-- <th class="col-sm-2">{{ 'Download ' | translate }}</th> -->
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="col-sm-1">
					<!-- <img src="{{feed.iconLink}}"> -->

					<div  class="floatl feedthumb_40">
					<img src={{getImage(feed.mimeType);}} class="hori_center img-responsive ng-isolate-scope"/>		            	
		            </div>


				</td>
				<td class="col-sm-9">
					<div ng-if="(feed.mimeType == 'application/vnd.google-apps.folder')">
						<h5 class="gd-file-name"><a ng-click="openFolder(feed.uid,feed.mimeType,feed.name,'',feed.parents);">{{feed.name}}</a></h5>
					</div>
					<div ng-if="(feed.mimeType != 'application/vnd.google-apps.folder')">
						<h5 class="gd-file-name"><span>{{feed.name}}</span></h5>
					</div>
					
				</td>
				<td class="col-sm-2">
					<h5>
						<a target="_blank" ng-if="(feed.mimeType != 'application/vnd.google-apps.folder')" href="{{feed.webViewLink}}">{{ 'View ' | translate }}</a>
					</h5>
				</td>
				<!-- <td class="col-sm-2"><a ng-if="(feed.mimeType != 'application/vnd.google-apps.folder')" href="{{feed.webContentLink}}">{{ 'Download ' | translate }}</a></td> -->
			</tr>
		</tbody>
	</table>
</div>