<div class="upload_more upload_square" >
  <div class="abswrap">
    <div class="absinr">
      <div class="disp_table width100 ht100 clk" ng-style="{'height': '100%', 'border-bottom': 'none'}" ng-click="$ctrl.onClick($index)">
       	  <div class="tblc_m width100 ht100 text-center">
            <span class="floatl width100 plus_icon"><!-- + --><span class="lnr lnr-plus-circle"></span></span>
            <span class="floatl width100" once-text="'Yammer' | translate"></span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>