<div class="upload_more upload_square" ng-controller="UploadSquareCtrl">
  <div class="abswrap">
    <div class="absinr">
      <div class="tp_btn clk" ng-style="{'height': '100%', 'border-bottom': 'none'}" ng-click="showPopupCanalUrl($index)">
        <div class="disp_table width100 ht100 clk">
          <div ngf-drop ngf-select ng-model="logoFiles" ng-model-rejected="rejLogoFiles" ngf-change="vdoBlockAddVdos($files, $event)" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box hide" ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'video/*;capture=camcorder'" ngf-drop-available="dropAvailable" style="top: 0px; bottom: 0px; left: 0px; right: 0px; width: 100%; opacity: 1; position: absolute;"></div>
          <div class="tblc_m width100 ht100">
            <span class="floatl width100 plus_icon"><!-- + --><span class="lnr lnr-plus-circle"></span></span>
            <span class="floatl width100" once-text="'Canal Video' | translate"></span>
          </div>
        </div>
      </div>

      <div class="btm_btn disp_table hide">
        <div class="tblc_m">
          <div class="">
            <span ng-click="showCanalVideoUrl($index)" class="clk" once-text="'Canal Video' | translate">
            </span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>