
<div class="panel panel-default widget food-widget">
	<div ng-class="$ctrl.userCanEditWidget==true ? 'disp_table widget-title widget-move' : 'disp_table widget-title'">
		<div class="tblr">
			<div class="tblc_m icn">
            <div class="icon_widget icon_foodtruck">
            	<div class="btn_icon"></div>
            </div>
         </div>

			<div class="tblc_m title" ng-bind="$ctrl.widget.title"></div>
			<div class="tblc_m icn">
				<span ng-if="$ctrl.userCanEditWidget"> 
					<i ng-click="editWidget($ctrl.widget)" class="lnr lnr-pencil clk"></i> 
					<i ng-click="widgetToggle()" class="lnr lnr-chevron-up clk" toggle-class="lnr lnr-chevron-down"></i>
				</span> 
				<span ng-if="!$ctrl.userCanEditWidget"> 
					<i ng-click="widgetToggle()" class="lnr lnr-chevron-up clk" toggle-class="lnr lnr-chevron-down"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="panel-body panel-white text-center" ng-hide="isWidgetClose">
		<a ng-click="$root.openfoodTruckPopup($ctrl.widget.uid)" class="disp_blk" style="position: relative;"> 
			<img ng-src="{{$ctrl.widget.food.image.thumbGalleryUrl}}" class="img-responsive widget_image" />
			<p>{{$ctrl.widget.food.lastUpdatedDate | date: $root.dateFormat}}</p> <!--last updated date-->
		</a>

	</div>
</div>
<!--food-widget END-->