<!-- to show the HTML widget created using CKEditor -->
<div class="panel panel-default widget widget-html">
    <div ng-class="$ctrl.userCanEditWidget==true ? 'disp_table widget-title widget-move' : 'disp_table widget-title'">
      <div class="tblr">
        <div class="tblc_m icn">
            <div class="icon_widget icon_html">
              <div class="btn_icon"></div>
            </div>
         </div>
        <div class="tblc_m title" once-text="$ctrl.widget.title"></div>
        <div class="tblc_m icn">
			<span ng-if="$ctrl.userCanEditWidget">
		    	<i ng-click="editWidget($ctrl.widget)" class="lnr lnr-pencil clk"></i>
		    	<i ng-click="widgetToggle()" class="lnr lnr-chevron-up clk" toggle-class="lnr lnr-chevron-down"></i>
	    	</span>
	    	<span ng-if="!$ctrl.userCanEditWidget">
	    		<i ng-click="widgetToggle()" class="lnr lnr-chevron-up clk" toggle-class="lnr lnr-chevron-down"></i>
	    	</span>
        </div>
      </div>
    </div>
    <div class="panel-body" ng-show="isWidgetOpen">
      <div ng-bind-html="$ctrl.widget.content | unsafehtml"></div>
    </div>
</div>