<div class="panel panel-default widget widget-html user_skills widget-userskills marb20">
  <div class="disp_table widget-title">
    <div class="tblr">
      <div class="tblc_m icn">
            <div class="icon_widget icon_user">
              <div class="btn_icon"></div>
            </div>
         </div>
      <div class="tblc_m title" translate>skills</div>
      <!--<div class="tblc_m icn">
        <i class="fa fa-minus clk" ng-click="widgetToggle();"></i>
      </div>-->
    </div>
  </div>
  <div class="panel-body" style="padding:10px;">

    <p ng-bind-html="userProfileData.speciality"></p>
  </div>
</div>