
<!--<div class="panel panel-default widget weather-widget" ng-controller="SimpleWidgetController">
	<div ng-class="userCanEditWidget==true ? 'disp_table widget-title widget-move' : 'disp_table widget-title'">
		<div class="tblr">
			<div class="tblc_m icn">
				<i class="fa fa-sun-o" aria-hidden="true"></i>
			</div>
			<div class="tblc_m title" translate>Weather</div>
			<div class="tblc_m icn">
				<span ng-if="userCanEditWidget"> 
					<i ng-click="editWidget(wgt)" class="lnr lnr-pencil clk"></i> 
					<i ng-click="widgetToggle()" class="lnr lnr-chevron-up clk" toggle-class="lnr lnr-chevron-down"></i>
				</span> 
				<span ng-if="!userCanEditWidget"> 
					<i ng-click="widgetToggle()" class="lnr lnr-chevron-up clk" toggle-class="lnr lnr-chevron-down"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="panel-body panel-white text-center" ng-hide="isWidgetOpen">
		<ul class="list-inline weather-list">
			<li class="bruxelles">
				<a href="http://www.accuweather.com/fr/be/brussels/27581/weather-forecast/27581" class="aw-widget-legal">			
				</a><div id="awcc1484666286143" class="aw-widget-current"  data-locationkey="2-27581_1_AL" data-unit="c" data-language="fr" data-useip="false" data-uid="awcc1484666286143"></div>
				<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
			</li>

			<li class="ans">
				<a href="http://www.accuweather.com/fr/be/ans/965105/weather-forecast/965105" class="aw-widget-legal">
				
				</a><div id="awcc1484666387430" class="aw-widget-current"  data-locationkey="965105" data-unit="c" data-language="fr" data-useip="false" data-uid="awcc1484666387430"></div>
				<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
			</li>

			<li class="gosselies">
				<a href="http://www.accuweather.com/fr/be/gosselies/962069/weather-forecast/962069" class="aw-widget-legal">

</a><div id="awcc1484666790542" class="aw-widget-current"  data-locationkey="962069" data-unit="c" data-language="fr" data-useip="false" data-uid="awcc1484666790542"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
			</li>

			<li class="herstal">
				<a href="http://www.accuweather.com/fr/be/herstal/29262/weather-forecast/29262" class="aw-widget-legal">

</a><div id="awcc1484666891249" class="aw-widget-current"  data-locationkey="29262" data-unit="c" data-language="fr" data-useip="false" data-uid="awcc1484666891249"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
			</li>

			<li class="liege">
				<a href="http://www.accuweather.com/fr/be/liege/29306/weather-forecast/29306" class="aw-widget-legal">

</a><div id="awcc1484666925695" class="aw-widget-current"  data-locationkey="29306" data-unit="c" data-language="fr" data-useip="false" data-uid="awcc1484666925695"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
			</li>

			<li class="seraing">
				<a href="http://www.accuweather.com/fr/be/seraing/29263/weather-forecast/29263" class="aw-widget-legal">

</a><div id="awcc1484668533193" class="aw-widget-current"  data-locationkey="29263" data-unit="c" data-language="fr" data-useip="false" data-uid="awcc1484668533193"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
			</li>

			<li class="namur">
				<a href="http://www.accuweather.com/fr/be/namur/30014/weather-forecast/30014" class="aw-widget-legal">

</a><div id="awcc1484668627032" class="aw-widget-current"  data-locationkey="30014" data-unit="c" data-language="fr" data-useip="false" data-uid="awcc1484668627032"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>

			</li>

		</ul>
	</div>
</div>-->
<!--food-widget END-->