<!-- quoteobj {type: 'quote', text: ''} -->
<div class="editblock_wrap">
	<div class="conrol_wrapper floatl"> 
		<div class="inner_wrap floatr">
		  <div title="{{'Add Block' | translate}}" class="ins_small_sqbtn floatl add" ng-click="addContentBlock('quote')"></div>
		  <div title="{{'Drag/Drop' | translate}}" class="ins_small_sqbtn floatl move"></div>
		  <div title="{{'Remove' | translate}}" class="ins_small_sqbtn floatl remove" ng-click="removeBlock($index)"></div>
		</div>
	</div>
	<div class="files_wrapper width100 floatl fixed">
		<div class="ca_quote_wrap floatl">
		  <textarea msd-elastic class="quote_text" ng-model="quoteobj.content" placeholder="{{'Quote' | translate}}" ng-trim="false" maxlength="500"></textarea>
		  <p class="remaning_text">{{500 - quoteobj.content.length}}&nbsp;{{'characters_left' | translate}}</p>
		</div>
	</div>
</div>