<div ng-repeat="block in $ctrl.blocks" ng-switch on="block.type" class="article_detail">
	<!-- ritch text -->
	<div ng-switch-when="richText" class="block_group" class="richtext">
		<div class="bl_ritchtext" ng-bind-html="block.content | unsafehtml"></div>
	</div>

	<!-- image gallery -->
	<div ng-switch-when="ImageGallery" class="block_group imagegallery">
      	<div class="list_img_gallery" ng-if="block.images.length > 1">
			<div img-gallery feedthumb="feedthumb_130" showthumbcnt="4" datalist="block.images" gallerytype="images"></div>
      	</div>
      	<div ng-if="block.images.length == 1 && block.images[0].isInternal">
      		<div class="bl_image">
				<img class="header_img" ng-src="{{block.images[0].path}}">
			</div>
 		</div>
 		<div ng-if="block.images.length == 1 && !block.images[0].isInternal">
			<div class="bl_image">
				<a target="_blank" href="{{block.images[0].path}}"><img class="header_img" src="../images/media/gdrive_thumb_gallery.png"></a>
			</div>
 		</div>
    </div>

	<!-- document gallery -->
    <div ng-switch-when="documentGallery" class="block_group documentgallery">
		<div class="list_img_gallery">
			<div img-gallery feedthumb="feedthumb_130" showthumbcnt="4" datalist="block.documents" gallerytype="documents"></div>
      	</div>
    </div>
    
	<!-- video gallery -->
    <div ng-switch-when="videoGallery" class="block_group videogallery">
		<div class="list_img_gallery">
			<div img-gallery feedthumb="feedthumb_130" showthumbcnt="4" datalist="block.videos" gallerytype="videos"></div>
      	</div>
    </div>

	<!-- url -->
    <div ng-switch-when="url" class="block_group url">
		<a href="{{block.path}}">{{block.path}}</a>
    </div>

	<!--  quote-->
    <div ng-switch-when="quote" class="block_group quote">
      	<q>{{block.content}}</q>
    </div>

	<!-- event -->
	<div ng-switch-when="event" class="block_group event">
		<div class="event-full">
        	<div class="event-title event-title marb20">
          		<h2 class="post-evt-title mart0" data-ng-bind="block.title" data-ellipsis-symbol="..." data-ellipsis>  </h2>
          		<div class="post-evt-subtitle" data-ng-bind="block.location" data-ellipsis-symbol="..." data-ellipsis></div>
      		</div>

        	<div class="event-desc marb20">
          		<div class="left_part event-date-area">
            		<div class="feedthumb_140 evnt_big_date">
              			<div class="wrap-dt">
                			<span class="dt">{{block.dateFrom | date: "dd"}}</span><br/>
                			<span class="mth">{{block.dateFrom | date: "MMM"}}</span> <br/>

                			<span ng-if="(block.dateFrom | date:'HH:mm') != '00:00'" class="fs3 fc2">{{block.dateFrom | date:'HH:mm'}}</span>
              			</div>
            		</div>
          		</div>

          		<div class="right_part event-map-area">
              		<div class="event_part">
                    	<div class="mart10 marb10">
                    		<p><span translate>Start_Date</span> : <span>{{block.dateFrom | date:'mediumDate'}}</span></p>
                    		<p ng-if="(block.dateFrom | date:'HH:mm') != '00:00'"><span translate>Start_Time</span> : <span>{{block.dateFrom | date:'HH:mm'}}</span></p>

                    		<p ng-if="block.dateTo"><span translate>End_Date</span> : <span>{{block.dateTo | date:'mediumDate'}}</span></p>
                   		 	<p ng-if="block.dateTo && (block.dateTo | date:'HH:mm') != '00:00'"><span translate>End_Time</span> : <span>{{block.dateTo | date:'HH:mm'}}</span></p>
                    		<p>{{block.location}}</p>                  
                    	</div>
                	</div>
          		</div>

          		<div class="clearfix"></div>
        	</div><!--event-desc END-->

			<div class="event-participient marb20" ng-if="block.participateEventExtension">
  		   		<div class="left_part" ng-if="block.participants && block.participants.length > 0">
                	<div class="feedthumb_40 tblc_m" translate>Participants</div>
              	</div>

              	<div class="right_part">
              		<div ng-if="block.participants && block.participants.length > 0">
              			<div ng-repeat="(key, value) in count track by $index">
      						<div ng-if="($index+1) < count.length && block.participants[$index]" class="thumbwrap">
								<div class="floatl small-profile">
				            		<a class="disp_blk" ui-sref="app.myprofile({uid: block.participants[$index].uid, activetab: 'About'})">			                    
				                    	<div class="hori_center">
				                      		<div class="feedthumb_40">
					                        	<div class="user_image uaa_item img-circle"  profile-photo="{url: block.participants[$index].headerLogoUrl, firstName: block.participants[$index].firstName, lastName: block.participants[$index].lastName}"></div>
				                      		</div>
				                    	</div>
				                  	</a>
								</div><!--small-profile END-->
							</div>
					
							<div ng-if="block.participants.length == count.length && ($index+1) == count.length" class="thumbwrap">
								<div class="floatl small-profile">
				            		<a class="disp_blk" ui-sref="app.myprofile({uid: block.participants[$index].uid, activetab: 'About'})">			                    
				                    	<div class="hori_center">
				                      		<div class="feedthumb_40">
					                        	<div class="user_image uaa_item img-circle"  profile-photo="{url: block.participants[$index].headerLogoUrl, firstName: block.participants[$index].firstName, lastName: block.participants[$index].lastName}"></div>
				                      		</div>
				                    	</div>
				                  	</a>
								</div><!--small-profile END-->		
							</div>
					
							<div ng-if="(block.participants.length > count.length) && ($index+1) == count.length">
								<div class="floatl small-profile">
				            		<a class="disp_blk" ng-click="showAllParticipants(block.uid,'subscribed')">			                    
				                    	<div class="hori_center">
				                      		<div class="feedthumb_40">
					                        	<div class="user_image uaa_item img-circle"  profile-photo="{url: block.participants[$index].headerLogoUrl, firstName: block.participants[$index].firstName, lastName: block.participants[$index].lastName}"></div>
				                      			<div class="more-people">
				                            		+{{block.participants.length - count.length + 1}}
				                          		</div>
				                      		</div>
				                    	</div>
				                 	</a>
								</div><!--small-profile END-->	
							</div>
						</div>		
              		</div>

              		<div class="floatr participate-btn">
                  		<div class="disp_blk">
                    		<div class="hori_center">
                     
                        		<a class="btn btn-default btn-default-modified" ng-if="!block.isParticipatedEvent" ng-click="participateEvent(block,'participate')" translate>Participate</a>
                        		<a class="btn btn-danger btn-danger-modified" ng-if="block.isParticipatedEvent" ng-click="participateEvent(block,'cancel')" translate>Cancel Participation</a>
                    
                    		</div>
                  		</div>
                	</div><!--small-profile END-->

              		<div class="clearfix"></div>
          		</div>

	      		<div class="left_part" ng-if="block.waitingList && block.waitingList.length > 0">
		        	<div class="feedthumb_40 tblc_m" translate>Waiting List</div>
	       		</div>
		   		<div class="right_part">
	              	<div ng-if="block.waitingList && block.waitingList.length > 0">
	              		<div ng-repeat="(key, value) in count track by $index">
	      					<div ng-if="($index+1) < count.length && block.waitingList[$index]" class="thumbwrap">
								<div class="floatl small-profile">
					            	<a class="disp_blk" ui-sref="app.myprofile({uid: block.waitingList[$index].uid, activetab: 'About'})">			                    
					                    <div class="hori_center">
					                      <div class="feedthumb_40">
						                        <div class="user_image uaa_item img-circle"  profile-photo="{url: block.waitingList[$index].headerLogoUrl, firstName: block.waitingList[$index].firstName, lastName: block.waitingList[$index].lastName}"></div>
					                      </div>
					                    </div>
					                  </a>
								</div><!--small-profile END-->
							</div>
						
							<div ng-if="block.waitingList.length == count.length && ($index+1) == count.length" class="thumbwrap">
								<div class="floatl small-profile">
					            	<a class="disp_blk" ui-sref="app.myprofile({uid: block.waitingList[$index].uid, activetab: 'About'})">			                    
					                    <div class="hori_center">
					                      <div class="feedthumb_40">
						                        <div class="user_image uaa_item img-circle"  profile-photo="{url: block.waitingList[$index].headerLogoUrl, firstName: block.waitingList[$index].firstName, lastName: block.waitingList[$index].lastName}"></div>
					                      </div>
					                    </div>
					                  </a>
								</div><!--small-profile END-->		
							</div>
						
							<div ng-if="(block.waitingList.length > count.length) && ($index+1) == count.length">
								<div class="floatl small-profile">
					            	<a class="disp_blk" ng-click="showAllParticipants(block.uid,'waiting')">			                    
					                    <div class="hori_center">
					                      <div class="feedthumb_40">
						                        <div class="user_image uaa_item img-circle"  profile-photo="{url: block.waitingList[$index].headerLogoUrl, firstName: block.waitingList[$index].firstName, lastName: block.waitingList[$index].lastName}"></div>
					                      		<div class="more-people">
					                            +{{block.waitingList.length - count.length + 1}}
					                          	</div>
					                      </div>
					                    </div>
					                  </a>
								</div><!--small-profile END-->	
							</div>
						</div>		
	              </div>
	              <div class="clearfix"></div>
	      		</div>
          	</div>
      	</div><!--event-full END-->
	</div><!--event END-->
	
	<!-- link -->
	<div ng-switch-when="linkEmbed" class="block_group url">
		<div ng-if="block.links.length == 1" ng-include="'../app/views/blocks/feed_link_embed.tpl.html'" ng-init="links = block.links;"></div>
		<div class="list_img_gallery" ng-if="block.links.length > 1">
		  <div img-gallery feedthumb="feedthumb_130" showthumbcnt="4" datalist="block.links" gallerytype="linkEmbed"></div>
     	</div>
	</div>
</div>