

<div class="static-article">
    <div id="hors_format">
        <main id="article_container" class="article-container">
            <article itemscope>
                <div class="container-general">
                    <div class="close-btn-article" ui-sref="app.home"> 
                        <i class="fa fa-times"></i> 
                    </div>
                    <header>
                        <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> -->
                        <div class="article-bg background-zoomer"></div>
                        <div class="titre parallaxe" data-coef="0.62" data-top="200"> 
                            <h1>L'entreprise communiquante: <br/>les 3 piliers de la digitalisation</h1>
                        </div>
                    </header>
                    <div class="intro">
                        <div class="inner-intro">
                            <!--Author Section Start-->
                            <div class="col-md-3 author-content">
                                <div class="author-info-sec">
                                    <div class="author-info">
                                        <div class="user_image uaa_item img-circle" ><img src="../images/no_image_user.png"></div>
                                        <div style="float: left;margin: 10px 0 0 15px;">
                                            <div style="margin-bottom: 5px;font-size: 14px;">Alexandre Collet</div>
                                            <div style="opacity: .6; font-size: 12px;">13 Avril 2017, 12H00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="author-action-sec">
                                    <!--Comment-->
                                    <div class="art_btn btn_comment floatl" > 
                                        <div class="btn_icon"></div> 
                                        <div class="btn-lbl-wrap"></div>
                                    </div>

                                    <!--Like-->
                                    <div class="art_btn btn_like floatl">
                                        <div class="btn_icon unliked" analytics-on="click" analytics-event="Like" analytics-category="Like" ng-class="feed.userLiked ? 'liked' : 'unliked'"></div>
                                        <div class="btn-lbl-wrap"></div>
                                    </div>

                                    <!--ABCD-->
                                    <div class="art_btn btn_translate_flag floatl">
                                        <div class="btn-group drop-down3"> 
                                            <div class="dropdown-toggle art_btn btn_lang floatl" data-toggle="dropdown" > 
                                                <div class="btn_icon"> 
                                                    <span class="btn_icon"></span>
                                                </div> 
                                            </div>
                                        </div> 
                                    </div> 

                                    <div class="floatr ng-scope"> 
                                        <div class="btn_delete floatr" >
                                            <div class="btn_icon"> </div> 
                                        </div> 
                                        <span class="btn_seprator floatr"> • </span>
                                        <div class="btn_edit floatr" > 
                                            <div class="btn_icon"></div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <!--Author Section End-->
                            <p>La disruption créée par la digitalisation est aujourd’hui clairement identifiée et il appartient à l’entreprise d’y faire face en adoptant une stratégie digitale appropriée. La mise en place d’une stratégie de digitalisation en interne nécessite une réflexion en amont autour des 3 piliers suivants : le choix du logiciel à utiliser, les contraintes de votre système d’information et la mise en place d’une stratégie éditoriale cohérente.</p>
                        </div>
                    </div>
                    <div class="container-titres">
                        <div class="container-titre" id="titre1">
                            <div class="article-bg top"></div>
                            <div class="wrapper-texte">
                                <div class="inner-titre">
                                    <div class="title-sec">Titre 1</div>
                                    <div class="titre"> Le choix du logiciel pour votre stratégie de communication interne</div>
                                </div>
                                <div class="inner-texte">
                                    <div class="texte bg">
                                        <p>L’application d’une stratégie de digitalisation cohérente passe par le choix d’un logiciel ergonomique, complet et doté d’une interface simple à utiliser. Le logiciel choisi doit pouvoir susciter naturellement l’engagement des collaborateurs sans nécessiter de formation préalable.Le logiciel Lively répond à cette problématique par le biais des atouts suivants :</p>

                                        <ul>
                                            <li><strong>Une ergonomie éprouvée :</strong> <a href="http://www.lively-software.com" target="_blank">Lively</a> est simple à utiliser. Son ergonomie absolue permet une prise en main immédiate côté pilote, une appétence réelle côté utilisateurs. Son interface est personnalisée en fonction de l’identité visuelle désirée. Lively, outil fluide, outil efficace, outil plaisir.</li>

                                            <li><strong>Une couverture fonctionnelle complète :</strong> La capture de l’information non structurée peut se faire par différents médiums. Cela peut être un article, un billet d’humeur assorti d’une photo, une note concernant un sujet précis, etc. La consultation du fil d’actualité par l’utilisateur devient une expérience agréable et diverse et ouvre la porte à la réaction et au partage des contenus d’une communauté à l’autre.</li>

                                            <li><strong>Les communautés professionnelles :</strong>  Les communautés professionnelles constituent le cœur du logiciel Lively. En effet, elles permettent à chaque utilisateur de s’abonner à ses sujets d'intérêts via <a href="http://blog.inspheris.com/post/156883415496/lentreprise-communiquante-les-3-piliers-de-la" target="_blank">des communautés</a> et ainsi de disposer d’un fil d’actualité personnalisé.</li>
                                    </div>
                                    <div class="lies bg">
                                        <div class="inner-lies">
                                            <div class="col">
                                                <a href="">
                                                    <img src="http://68.media.tumblr.com/0ce04eaf415569efef877e582311d219/tumblr_inline_okt7o5FRLC1sjdbt0_540.jpg" alt=""><p>L'entreprise communiquante: les 3 piliers de la digitalisation</p>
                                                </a> </div>
                                            <div class="col"><a href="">
                                                    <img src="http://68.media.tumblr.com/7c81747b4037fe3f666e1446f8effe2b/tumblr_inline_ofek99mWzb1sjdbt0_540.jpg" alt=""><p>Idees, astuces et conseils editoriaux - Volet 2/2</p>
                                                </a></div>
                                        </div>
                                        <div class="inner-lies">
                                            <div class="col"><a href="">
                                                    <img src="http://68.media.tumblr.com/525005eb8f64d832e0ba37334d811cf5/tumblr_inline_o61m9uzKY91sjdbt0_540.png" alt=""><p>Inspheris au salon Documation MIS 2015 : une participation remarquée !</p>
                                                </a></div>
                                            <div class="col"><a href="" > 
                                                    <img src="http://68.media.tumblr.com/018ef154db88a6a7fafd5b28c60d15c3/tumblr_inline_nmupsmrsBc1sjdbt0_540.jpg" alt=""><p>Lively: la garantie d’une solution sur-mesure</p>
                                                </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-titre" id="titre2">
                            <div class="article-bg top"></div>
                            <div class="wrapper-texte">
                                <div class="inner-titre">
                                    <div class="title-sec">Titre 2</div>
                                    <div class="titre"> Les bases techniques d’une stratégie de digitalisation </div>
                                </div>
                                <div class="inner-texte">
                                    <div class="texte bg">
                                        <p>Toute stratégie de digitalisation doit être basée sur des outils fiables, sécurisés et faciles à utiliser. Afin d’atteindre ces prérequis techniques, il est impératif de mettre en place les bases techniques suivantes :</p>


                                        <p>L’Active Directory : La première étape avant la mise en place d’un intranet consiste à effectuer un recensement de l’ensemble des futurs utilisateurs. Cela passe soit par l’installation d’un répertoire informatisé des collaborateurs (Active Directory) soit par le nettoyage et la mise à jour de l’AD existant. Cette mise à jour de l’AD renforce la sécurité, évalue la volumétrie d’hébergement nécessaire au logiciel et enfin permet à chaque collaborateur de disposer d’une fiche personnelle complète et mise à jour. </p> 

                                        <p>Le Single Sign On (Authentification unique) : Afin de faciliter l’accès à la page d’accueil de votre intranet, il est nécessaire d’accompagner la mise à jour de l’AD par la mise en place d’un système de Single Sign On (SSO). Ce système permet à l’utilisateur de s’authentifier sur l’ensemble des applications auxquelles il a accès en tapant son mot de passe une seule fois (à l’ouverture de sa session de travail). Le SSO renforce la sécurité en évitant les mots de passe multiples - et donc les post-it autour du poste de travail - tout en facilitant la vie de l’utilisateur qui ne devra s’authentifier qu’une seule fois.</p>

                                        <p>L’hébergement, la sauvegarde, la restauration : La mise en place d’un intranet ou réseau social d’entreprise (RSE) nécessite une réflexion autour de ces prérequis techniques. Ainsi, la volumétrie future des utilisateurs permettra de définir la taille, la performance et la localisation des serveurs hébergeant la suite logicielle. Cette dernière doit être sauvegardée régulièrement selon une fréquence prédéfinie, et doit être restaurée de manière fiable et rapide.</p>

                                        <p>L’interopérabilité : Le développement de mécanismes d’interopérabilité est nécessaire. La communication avec un système de GED (Gestion des documents) comme google Drive, dropbox, onedrive et même Office365 permettra aux utilisateurs d’accéder de façon homogène à vos contenus. Connectez vos applications pour obtenir une seule interface utilisateur: créez, modifiez, cherchez et partagez directement sur votre intranet.</p>


                                    </div>
                                    <div class="lies bg">
                                        <div class="inner-lies">
                                            <div class="col">
                                                <a href="">
                                                    <img src="http://68.media.tumblr.com/0ce04eaf415569efef877e582311d219/tumblr_inline_okt7o5FRLC1sjdbt0_540.jpg" alt=""><p>L'entreprise communiquante: les 3 piliers de la digitalisation</p>
                                                </a> </div>
                                            <div class="col"><a href="">
                                                    <img src="http://68.media.tumblr.com/7c81747b4037fe3f666e1446f8effe2b/tumblr_inline_ofek99mWzb1sjdbt0_540.jpg" alt=""><p>Idees, astuces et conseils editoriaux - Volet 2/2</p>
                                                </a></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-titre" id="titre3">
                            <div class="article-bg top"></div>
                            <div class="wrapper-texte">
                                <div class="inner-titre">
                                    <div class="title-sec">Titre 3</div>
                                    <div class="titre">Enrichir la plate-forme digitale de communication </div>
                                </div>
                                <div class="inner-texte">
                                    <div class="texte bg">
                                        <p>La qualité du contenu publié est primordiale pour la réussite d'un projet intranet. Ce dernier nécessite une réflexion approfondie menée par la direction et le comité projet exécutif. Cette réflexion peut porter sur les axes suivants :  </p>  


                                        <p>Une tribune à la direction : L'objectif de base est de diffuser une information corporate. Renforcez le flux de communication Top down de l’organisation et attirez des utilisateurs régulièrement sur le RSE, ils pourront ainsi réagir et partager le contenu publié.</p>

                                        <p>Structurer et préparer une stratégie éditoriale : Les publications régulières du service de communication interne forgent la stratégie éditoriale. Ces publications prennent la forme d’articles, de photos liées à un événement ou bien de billets d’humeur. Le but de la stratégie éditoriale est de promouvoir la culture d’entreprise au sein de l’intranet  et de pousser les collaborateurs à réagir aux publications.</p>

                                        <p>Créer une dynamique de communication Bottom up : Une stratégie éditoriale réussie permet de dynamiser le RSE et d’augmenter le nombre d’utilisateurs réguliers. Ces derniers réagissent aux différentes publications à travers leurs commentaires et contribuent à leur tour à l’enrichissement de l’intranet. L’espace utilisateur du RSE permet à ce dernier d’accéder et de réagir aux publications liées aux communautés professionnelles auxquelles il est abonné.</p>
                                    </div>
                                    <div class="lies bg">


                                        <div class="inner-lies">
                                            <div class="col"><a href="">
                                                    <img src="http://68.media.tumblr.com/525005eb8f64d832e0ba37334d811cf5/tumblr_inline_o61m9uzKY91sjdbt0_540.png" alt=""><p>Inspheris au salon Documation MIS 2015 : une participation remarquée !</p>
                                                </a></div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-titre" id="titre4">
                            <div class="article-bg top"></div>
                            <div class="wrapper-texte">
                                <div class="inner-titre">
                                    <div class="title-sec">Titre 4</div>
                                    <div class="titre">Idees, astuces et conseils editoriaux - Volet 2/2</div>
                                </div>
                                <div class="inner-texte">
                                    <div class="texte bg">
                                        <p>Votre politique éditoriale, vos objectifs et votre stratégie digitale ont été définis au volet 1 de notre série “idées, astuces et conseils éditoriaux”. Cette semaine, le volet 2 est consacré aux contenus médias. Car pour un bon contenu, il faut une information pertinente, des supports et contenus médias variés et une ligne éditoriale.</p>

                                        <p>La version 5 de Lively est sortie : quelles sont les avantages pour vos contenus ?</p>
                                    </div>
                                    <div class="lies bg">
                                        <div class="inner-lies">
                                            <div class="col">
                                                <a href="">
                                                    <img src="http://68.media.tumblr.com/0ce04eaf415569efef877e582311d219/tumblr_inline_okt7o5FRLC1sjdbt0_540.jpg" alt=""><p>L'entreprise communiquante: les 3 piliers de la digitalisation</p>
                                                </a> </div>
                                            <div class="col"><a href="">
                                                    <img src="http://68.media.tumblr.com/7c81747b4037fe3f666e1446f8effe2b/tumblr_inline_ofek99mWzb1sjdbt0_540.jpg" alt=""><p>Idees, astuces et conseils editoriaux - Volet 2/2</p>
                                                </a></div>
                                        </div>
                                        <div class="inner-lies">
                                            <div class="col"><a href="">
                                                    <img src="http://68.media.tumblr.com/525005eb8f64d832e0ba37334d811cf5/tumblr_inline_o61m9uzKY91sjdbt0_540.png" alt=""><p>Inspheris au salon Documation MIS 2015 : une participation remarquée !</p>
                                                </a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-titre" id="titre5">
                            <div class="article-bg top"></div>
                            <div class="wrapper-texte">
                                <div class="inner-titre">
                                    <div class="title-sec"> Titre 5 </div>
                                    <div class="titre"> Avec la suite logicielle Lively</div>
                                </div>
                                <div class="inner-texte">
                                    <div class="texte bg">
                                        <ul>
                                            <li><strong>Avec la suite logicielle Lively ajoutez facilement des contenus médias issus de sites Web d’information</strong><br/><br/>

                                                - Intégrez des contenus de sources externes<br/>
                                                - Intégrez dans votre article des contenus créés par vos collaborateurs<br/>

                                                Pour créer un contenu, il faut généralement passer par l’étape rédactionnelle. Ecrire soi-même le contenu est tout à fait possible. Pour rendre son article encore plus riche en références, pourquoi ne pas ajouter d’autres sources ? 
                                                Ces procédés rendent vos contenus plus complets et plus pertinents aux yeux de vos collaborateurs.</li>

                                            <li><strong>Intuitif et ultra rapide : intégrez des vidéos et images à vos contenus</strong><br/><br/>

                                                - des vidéos youtube ou autres médias vidéos <br/>
                                                - des images déjà existantes sur l’intranet <br/>
                                                - des images externes (via une recherche google par exemple)<br/>
                                                - des images téléchargées via votre poste. <br/>

                                                Avec Lively rien n’est plus simple : un click, une image ! <br/>
                                                L’image et la vidéo … les moyens de communication devenus incontournables ces dernières années. Parlants et séduisants aux yeux des collaborateurs, ils seront un vrai atout.<br/>

                                                Ces supports permettent une diffusion beaucoup plus visuelle de votre message. « Une image vaut mille mots » (de Confucius) alors pourquoi ne pas abréger ses écrits ?</li>

                                            <li>La nouvelle version de la suite logicielle Lively améliore et simplifie encore plus la gestion de vos contenus. 
                                                Pour demander une démo appelez le 09 72 35 12 70 ou envoyez un email à <a href="mailto:info@inspheris.com">info@inspheris.com</a></li>
                                        </ul>
                                    </div>
                                    <div class="lies bg">
                                        <div class="inner-lies">
                                            <div class="col">
                                                <a href="">
                                                    <img src="http://68.media.tumblr.com/0ce04eaf415569efef877e582311d219/tumblr_inline_okt7o5FRLC1sjdbt0_540.jpg" alt=""><p>L'entreprise communiquante: les 3 piliers de la digitalisation</p>
                                                </a> </div>

                                            <div class="col"><a href="" > 
                                                    <img src="http://68.media.tumblr.com/018ef154db88a6a7fafd5b28c60d15c3/tumblr_inline_nmupsmrsBc1sjdbt0_540.jpg" alt=""><p>Lively: la garantie d’une solution sur-mesure</p>
                                                </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-titre" id="titre6">
                            <div class="article-bg top"></div>
                            <div class="wrapper-texte">
                                <div class="inner-titre">
                                    <div class="title-sec"> Titre 6 </div>
                                    <div class="titre"> Idees, astuces et conseils editoriaux pour votre intranet - Volet 1/ 2 </div>
                                </div>
                                <div class="inner-texte">
                                    <div class="texte bg">
                                        <p>L’intranet permet de diffuser les informations corporate à toute l’entreprise, mais aussi en fonction des statuts de chacun, parfait pour le service de communication interne !</p>

                                        <p>Mais quel message écrire, sur quel ton, dans quel axe ?</p>

                                        <p>Cet article donne des conseils, des idées et toutes les clés pour réussir votre transformation digitale. </p>
                                    </div>
                                    <div class="lies bg">
                                        <div class="inner-lies">
                                            <div class="col">
                                                <a href="">
                                                    <img src="http://68.media.tumblr.com/0ce04eaf415569efef877e582311d219/tumblr_inline_okt7o5FRLC1sjdbt0_540.jpg" alt=""><p>L'entreprise communiquante: les 3 piliers de la digitalisation</p>
                                                </a> </div>
                                            <div class="col"><a href="">
                                                    <img src="http://68.media.tumblr.com/7c81747b4037fe3f666e1446f8effe2b/tumblr_inline_ofek99mWzb1sjdbt0_540.jpg" alt=""><p>Idees, astuces et conseils editoriaux - Volet 2/2</p>
                                                </a></div>
                                        </div>
                                        <div class="inner-lies">
                                            <div class="col"><a href="">
                                                    <img src="http://68.media.tumblr.com/525005eb8f64d832e0ba37334d811cf5/tumblr_inline_o61m9uzKY91sjdbt0_540.png" alt=""><p>Inspheris au salon Documation MIS 2015 : une participation remarquée !</p>
                                                </a></div>
                                            <div class="col"><a href="" > 
                                                    <img src="http://68.media.tumblr.com/018ef154db88a6a7fafd5b28c60d15c3/tumblr_inline_nmupsmrsBc1sjdbt0_540.jpg" alt=""><p>Lively: la garantie d’une solution sur-mesure</p>
                                                </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <nav class="nav-title" ng-class="{'not-show':!x.articleMenuShow}">
                            <div class="article-toggle-btn" ng-class="{'article-toggle-transition':!x.articleMenuShow}" ng-click="x.articleMenuShow = !x.articleMenuShow"><i class="fa fa-server" aria-hidden="true"></i></div>
                            <div class="article-bg" ng-class="{'not-show':!x.articleMenuShow}">
                            </div>
                            <ul>
                                <li data-id="titre1">
                                    <a class="scroll-to-id button" href="#titre1">Titre 1</a> </li>
                                <li data-id="titre2">
                                    <a class="scroll-to-id button" href="#titre2">Titre 2</a> </li>
                                <li data-id="titre3">
                                    <a class="scroll-to-id button" href="#titre3">Titre 3</a> </li>
                                <li data-id="titre4">
                                    <a class="scroll-to-id button" href="#titre4">Titre 4</a> </li>
                                <li data-id="titre5">
                                    <a class="scroll-to-id button" href="#titre5">Titre 5</a> </li>
                                <li data-id="titre6">
                                    <a class="scroll-to-id button" href="#titre6">Titre 6</a> </li>
                            </ul></nav>
                    </div>
                </div>
            </article>
        </main>

    </div>

    <!-- <div id="dfp-dhtml" class="dfp_slot" data-format='dhtml'></div>     -->
</div>