<div class="carousel slide" id="widget_slider" data-interval="false">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-xs-3" ng-repeat="i in [1,2,3,4]" ng-class="$index == 0 ? 'first' : ''">
                  <img src="images/media/conten_slide_198x109.png" class="img-responsive content-img">

                    <div class="con_user_info">
                     <div class="com_icon_outer floatl">
                        <img class="com_icon" src="images/feed/community_icon.png">
                        <!-- <div class="fc3 fs3">
                            8h ago
                        </div> -->
                     </div>
                     
                     <div class="user_action">
                        <span class="unm"><a href="#">Aron Fox{{$index}}</a></span> 
                        <span>{{ 'yesterday' | translate }} 11:30</span> 
                        <span>{{ 'presents_in' | translate }}</span>
                        <span class="gnm"><a href="#">A PlusLongName</a></span>
                     </div>
                     
                    </div>

                    <div class="con_art_text">
                      <h2><a href="#">Graphic Diagrams</a></h2>
                      <h3>Graphiv, 1974</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ligula odio, sodales vel.</p>
                    </div>

                </div>
              </div>

              <div class="item">
                
                <div class="col-xs-3" ng-repeat="i in [1,2,3,4]" ng-class="$index == 0 ? 'first' : ''">
                  <img src="images/media/conten_slide_198x109.png" class="img-responsive content-img">

                    <div class="con_user_info">
                     <div class="com_icon_outer">
                        <img class="com_icon" src="images/feed/community_icon.png">
                        <!-- <div class="fc3 fs3">
                            8h ago
                        </div> -->
                     </div>

                     <div class="user_action">
                        <span class="unm"><a>Aron Fox</a></span> 
                        <span>{{ 'yesterday' | translate }} 11:30</span> 
                        <span>{{ 'presents_in' | translate }}</span>
                        <span>A Plus</span>
                     </div>
                     
                    </div>

                    <div class="con_art_text">
                      <a href="#"><h2>Graphic Diagrams</h2></a>
                      <h3>Graphiv, 1974</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ligula odio, sodales vel.</p>
                    </div>

                </div>

              </div>

            

            <!--
            <div class="item active">
                <div class="col-xs-4">
                  <div class="grid_small_li">
                      <div class="grid_feed_art">
                        <img class="grid_bkg_img" src="images/grid_view/grid_small1.png">

                            <div class="grid_li_title">
                              <div class="user_image"> <img src="images/media/user.png"> </div>
                              <div class="grid_user_action">
                                    <span class="grid_action_unm"> <a href="#"> User's name</a></span> <span class="grid_action_time"> 12:35</span> <br>published an article in <span class="grid_action_comm"><a href="#"> Community group</a> </span>
                              </div>
                            </div>

                        <div class="grid_art_text">
                                <h3 class="grid_art_title"> River Photos </h3>
                                <h4 class="grid_art_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="col-xs-4">
                  <div class="grid_small_li">
                      <div class="grid_feed_art">
                        <img class="grid_bkg_img" src="images/grid_view/grid_small1.png">

                            <div class="grid_li_title">
                              <div class="user_image"> <img src="images/media/user.png"> </div>
                              <div class="grid_user_action">
                                    <span class="grid_action_unm"> <a href="#"> User's name</a></span> <span class="grid_action_time"> 12:35</span> <br>published an article in <span class="grid_action_comm"><a href="#"> Community group</a> </span>
                              </div>
                            </div>

                        <div class="grid_art_text">
                                <h3 class="grid_art_title"> River Photos </h3>
                                <h4 class="grid_art_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="col-xs-4">
                  <div class="grid_small_li">
                      <div class="grid_feed_art">
                        <img class="grid_bkg_img" src="images/grid_view/grid_small1.png">

                            <div class="grid_li_title">
                              <div class="user_image"> <img src="images/media/user.png"> </div>
                              <div class="grid_user_action">
                                    <span class="grid_action_unm"> <a href="#"> User's name</a></span> <span class="grid_action_time"> 12:35</span> <br>published an article in <span class="grid_action_comm"><a href="#"> Community group</a> </span>
                              </div>
                            </div>

                        <div class="grid_art_text">
                                <h3 class="grid_art_title"> River Photos </h3>
                                <h4 class="grid_art_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
                        </div>
                      </div>

                    </div>
                </div>

            </div>

            <div class="item">
                <div class="col-xs-4">
                  <div class="grid_small_li">
                      <div class="grid_feed_art">
                        <img class="grid_bkg_img" src="images/grid_view/grid_small1.png">

                            <div class="grid_li_title">
                              <div class="user_image"> <img src="images/media/user.png"> </div>
                              <div class="grid_user_action">
                                    <span class="grid_action_unm"> <a href="#"> User's name</a></span> <span class="grid_action_time"> 12:35</span> <br>published an article in <span class="grid_action_comm"><a href="#"> Community group</a> </span>
                              </div>
                            </div>

                        <div class="grid_art_text">
                                <h3 class="grid_art_title"> River Photos </h3>
                                <h4 class="grid_art_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="col-xs-4">
                  <div class="grid_small_li">
                      <div class="grid_feed_art">
                        <img class="grid_bkg_img" src="images/grid_view/grid_small1.png">

                            <div class="grid_li_title">
                              <div class="user_image"> <img src="images/media/user.png"> </div>
                              <div class="grid_user_action">
                                    <span class="grid_action_unm"> <a href="#"> User's name</a></span> <span class="grid_action_time"> 12:35</span> <br>published an article in <span class="grid_action_comm"><a href="#"> Community group</a> </span>
                              </div>
                            </div>

                        <div class="grid_art_text">
                                <h3 class="grid_art_title"> River Photos </h3>
                                <h4 class="grid_art_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="col-xs-4">
                  <div class="grid_small_li">
                      <div class="grid_feed_art">
                        <img class="grid_bkg_img" src="images/grid_view/grid_small1.png">

                            <div class="grid_li_title">
                              <div class="user_image"> <img src="images/media/user.png"> </div>
                              <div class="grid_user_action">
                                    <span class="grid_action_unm"> <a href="#"> User's name</a></span> <span class="grid_action_time"> 12:35</span> <br>published an article in <span class="grid_action_comm"><a href="#"> Community group</a> </span>
                              </div>
                            </div>

                        <div class="grid_art_text">
                                <h3 class="grid_art_title"> River Photos </h3>
                                <h4 class="grid_art_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
                        </div>
                      </div>

                    </div>
                </div>
            </div>

            -->

            
            </div><!-- crousel-inner -->
            
             <!-- <a class="left carousel-control" data-slide="prev" ng-click="contentSlidePrev();"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" data-slide="next" ng-click="contentSlideNext();"><i class="glyphicon glyphicon-chevron-right"></i></a> -->

            <a class="left carousel-control" data-slide="prev" ng-click="widgetSlidePrev();"><i class="prev_btn"></i></a>
            <a class="right carousel-control" data-slide="next" ng-click="widgetSlideNext();"><i class="next_btn"></i></a>

</div>