<div class="ins_popup small_popup select-files-popup" ng-controller="BrowseImageCtrl">

	<div class="popup_header floatl">
	    <div class="popup_title">{{ 'Select_Images' | translate }}</div>
	    <div class="close_btn" ng-click="closeThisDialog({flag: 'cancel', data: null})"> X </div>
	</div>

	<div class="popup_wrapper">
		<div class="width100 marb10">
			<div class="width100" dropdown-select="comSelectOptions" dropdown-model="communitySelected" dropdown-item-label="text" dropdown-onchange="whatsNewCommValChanged(selected)"></div>
		</div>
		<div id="scrollImages" class="imagelist_container floatl">
			<ul class="imagecb_list" infinite-scroll="showMoreImages()" infinite-scroll-container='"#scrollImages"'>
				<li>
					<div ng-if="remoteImages.length <= 0">
						<div class="loader">{{ 'Loading' | translate }}...</div>
					</div>
				</li>
				<li ng-repeat="imageobj in remoteImages">
					<div class="left_part">
						<div class="ins_checkbox">
				            <!--<input type="checkbox" value="{{imageobj.id}}" name="imageobj.id" id="remoteimg{{$index}}" class="css-checkbox" ng-click="toggleImgSelection(imageobj)" ng-checked="getCheckedStatus(imageobj)"> -->
				            <input type="checkbox" value="{{imageobj.id}}" name="imageobj.id" id="remoteimg{{$index}}" class="css-checkbox" ng-checked="getCheckedStatus(imageobj)" ng-click="toggleImgSelection(imageobj)">

				            <label for="remoteimg{{$index}}" class="css-label"></label>
				        </div>
					</div>
					<div class="right_part clkbl" ng-click="toggleImgSelection(imageobj)">
						<!--
						<div class="left_part">
							<div class="thumb_wrap">
								<img src="{{image.thumbUrl}}">
							</div>
						</div>
						<div class="right_part">
							<p>{{image.fileName}}</p>
						</div>
						-->
						<!-- document container -->
						<!--
					    <div class="fl_docu_container">
					          <div class="left_part" ng-init="docthmb = image">
					            <ng-include src="'../app/views/blocks/feed_filetype_thumb.tpl.html'"></ng-include>
					          </div>

						      <div class="right_part file_info">
						            <ng-include ng-init="titleblock = image.fileName" src="'../app/views/blocks/feed_title.tpl.html'"></ng-include>

						          	<ng-include ng-init="ritchtextblock = image.description" src="'../app/views/blocks/feed_richtext.tpl.html'"></ng-include>
						      </div>

						</div>
						-->
						<ng-include ng-init="imgdata = {'title': imageobj.fileName, 'thumbclass': 'feedthumb_100', 'url': imageobj.thumbGalleryUrl, 'date': '2014-10-16 07:30:46'};" src="'../app/views/blocks/feed_attached_images.tpl.html'"></ng-include>
					</div>
				</li>
			</ul>
		</div>
		<div class="floatl width100">
			<div class="ins_btn_ctext" ng-click="closeThisDialog({flag: 'ok', data: selectedImages})">
				<span>OK</span>
			</div>
		</div>
	</div>

</div>
