<div class="ins_popup medium_popup" ng-controller="ChangePasswordCtrl">
   
  <div class="popup_header floatl">
      <p class="popup_title" translate>Change_Password</p>
      <div class="close_btn" ng-click="closeThisDialog({flag: 'cancel', data: null})"> X </div>  
  </div>

  <div class="popup_wrapper floatl width100" style="padding: 15px;">
	<input class="ins_input_tex widht100 fc1 fs2" type="password" placeholder="{{'Old_password' | translate}}" ng-model="oldPassword" required>
	<input class="ins_input_tex widht100 fc1 fs2" type="password" placeholder="{{'New_Password' | translate}}" ng-model="password" required>
	<input class="ins_input_tex widht100 fc1 fs2" type="password" placeholder="{{'Confirm_new_password' | translate}}" ng-model="confirmPassword" required>
	<div class="floatl width100 marb10">
		<div class="ins_btn_ctext" ng-click="change()">
			{{'Change' | translate}}
		</div>
	</div>

  </div>
</div>
