<div class="ins_popup medium_popup carousel_manager_popup noti_conf">
  
	<div class="popup_header floatl">
	    <div class="popup_title" translate>Notification Configure</div>
	    <div class="close_btn" ng-click="closeThisDialog({flag: 'cancel', data: null})"> X </div>  
	</div>
	<div class="report-details">
			<div class="col-md-12 mart20 marb20">
				<p translate>Please configure notification setting. You cannot turn off the default notification type.</p>
			</div>

			<div class="col-md-12">
			<h5 translate>Obligatory</h5>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-container">
							<table class="table borderless marb0">
								<thead>
									<th width="70%"><span translate>Notification on </span></th>
									<th class="tac" width="15%"><span translate>Application</span></th>
									<th class="tac" width="15%"><span translate>Email</span></th>
								</thead>
								<tbody>
									<tr>
										<td>
											<span translate>Content Creation</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" id="id-1" checked="checked" disabled name="" class="css-checkbox">
							                   <label for="id-1" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
								                   <input type="checkbox"  id="id-2" name="" class="css-checkbox">
								                   <label for="id-2" class="css-label"></label>
								             </div>
										</td>
									</tr>

									<tr>
										<td>
											<span translate>Mention inside a quickpost</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" checked="checked" disabled id="id-3" name="" class="css-checkbox">
							                   <label for="id-3" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox"  id="id-4" name="" class="css-checkbox">
							                   <label for="id-4" class="css-label"></label>
							             </div>
										</td>
									</tr>

									<tr>
										<td>
											<span translate>Request of validation</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" id="id-5" name="" checked="checked" disabled class="css-checkbox">
							                   <label for="id-5" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox"  id="id-6" name="" class="css-checkbox">
							                   <label for="id-6" class="css-label"></label>
							             </div>
										</td>
									</tr>

									<tr>
										<td>
											<span translate>Request for a new community</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" id="id-9" name="" checked="checked" disabled class="css-checkbox">
							                   <label for="id-9" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox"  id="id-10" name="" class="css-checkbox">
							                   <label for="id-10" class="css-label"></label>
							             </div>
										</td>
									</tr>
									
									
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div><!--col-12 END-->

			<div class="col-md-12">
			<h5 translate>Optional</h5>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-container">
							<table class="table borderless marb0">
								<thead>
									<th width="70%"><span translate>Notification on </span></th>
									<th class="class="tac"" width="15%"><span translate>Application</span></th>
									<th class="tac" width="15%"><span translate>Email</span></th>
								</thead>
								<tbody>
									<tr>
										<td>
											<span translate>Like content</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" id="id-11" checked="checked" name="" class="css-checkbox">
							                   <label for="id-11" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
								                   <input type="checkbox"  id="id-12" name="" class="css-checkbox">
								                   <label for="id-12" class="css-label"></label>
								             </div>
										</td>
									</tr>

									<tr>
										<td>
											<span translate>Like comment</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" checked="checked" id="id-13" name="" class="css-checkbox">
							                   <label for="id-13" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox"  id="id-14" name="" class="css-checkbox">
							                   <label for="id-14" class="css-label"></label>
							             </div>
										</td>
									</tr>

									<tr>
										<td>
											<span translate>User Mention</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" id="id-15" name="" class="css-checkbox">
							                   <label for="id-15" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox"  id="id-16" name="" class="css-checkbox">
							                   <label for="id-16" class="css-label"></label>
							             </div>
										</td>
									</tr>

									<tr>
										<td>
											<span translate>User Comment</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" id="id-17" name="" class="css-checkbox">
							                   <label for="id-17" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox"  id="id-18" name="" class="css-checkbox">
							                   <label for="id-18" class="css-label"></label>
							             </div>
										</td>
									</tr>

									<tr>
										<td>
											<span translate>When someone visit my profil</span>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox" id="id-19" name="" class="css-checkbox">
							                   <label for="id-19" class="css-label"></label>
							             </div>
										</td>
										<td class="tac">
											<div class="ins_checkbox">
							                   <input type="checkbox"  id="id-20" name="" class="css-checkbox">
							                   <label for="id-20" class="css-label"></label>
							             </div>
										</td>
									</tr>
									
									
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div><!--col-12 END-->

			<div class="col-sm-12 marb20">
				<div class="floatl width100">
				        <div style="width: 150px;" class="hori_center">
				          <div class="ins_btn_ctext disabled">
				           	<span translate>Update</span>
				          </div>
				        </div>
				</div>
			</div>
				
		
		
	</div>

</div>
