<div class="ins_popup custom_popup stat_module"  ng-controller="DigestCtrl" style="min-width: 1050px">
  
	<div class="popup_header floatl">
	    <div class="popup_title" translate>Digest</div>
	    <div class="close_btn" ng-click="closeThisDialog({flag: 'cancel', data: null})"> X </div>  
	</div>
	
	<div class="report-details col-md-12">
		<button type="button" class="btn btn-default navbar-btn" style="margin-top: 20px;" ng-click="createDigest()">{{'Create Digest' | translate}}</button>
		<div >
			<div id="gridDigests" ui-grid="gridDigests" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns></div>
		</div>	
	</div>

</div>