<div class="ins_popup gallery_popup" ng-controller="PreviewFileCtrl" ng-class="{'viewer-of-doc': (file.objectFileType == 'document'), 'viewer-of-vdo': (file.objectFileType == 'video'), 'viewer-of-img': (file.objectFileType == 'image')}">
    <!-- <div class="popup_header floatl" ng-if="popupTitle">
        <span class="popup-heaer-icon"><i class="fa fa-file"></i></span>
        <span class="popup_title">{{'Preview File'| translate}}</span>
    </div> -->

    <!-- <div class="close-o-btn" ng-click="closePopup()">
        <i class="fa fa-times"></i>
    </div> -->
<!--    <div class="popup_header floatl">
       <div class="popup_title" style="padding-left:5px;">{{file.fileTitle |translate}}
        </div>
       <div class="close_btn" ng-click="closePopup()" style="background-color:white;color:#A7A7AF;"> X </div>
    </div>-->
    <div class="popup_wrapper">
        <div class="docs-preview docpreview1">
        	<file-preview file-type="fileType" file="file" closepop1="closePopup()"/></file-preview>
        </div>
 	</div>
</div>
