
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="popup_header">
                <p class="popup_title">Charte ethique RSE Premiere</p>
                <button type="button" style="outline: none;" class="btn close_btn" ng-click="closeThisDialog('cancel')"> X </button>  
            </div>
            <div class="modal-body" style="padding-top: 10px; padding-bottom: 10px;">
                <!-- <embed src="../images/opl/cep.pdf" style="width:100%;min-height: 700px;"></embed> -->
<strong>1</strong>
<h3 class="text-center">Charte éthique du réseau social</h3>
<hr/>
<!--info deleted-->


            </div>
        </div>
    </div>