<div class="ins_popup medium_popup carousel_manager_popup" ng-controller="WidgetManagerCtrl">
  
	<div class="popup_header floatl">
	    <div class="popup_title" translate>Widget manager</div>
	    <div class="close_btn" ng-click="closeThisDialog({flag: 'cancel', data: null})"> X </div>  
	</div>

	<div class="popup_wrapper floatl width100" style="padding: 15px;">

		<button type="button" class="btn btn-default navbar-btn" ng-click="createWidget()" translate>Create widget</button>

		<div class="floatl width100" style="margin-top: 10px; margin-bottom: 10px;">
			<h5 ng-if="md.status == 2 && widgets.length <= 0">{{"No_Results_found" | translate}}</h5>
         	<h5 ng-if="md.status == 1"><i class="fa fa-spinner fa-pulse"></i>&nbsp;<span translate>Loading...</span></h5>
         	<h5 class="rclor" ng-if="md.status == 3" translate>something_went_wrong</h5>

	      <ul ng-if="md.status == 2 && widgets.length > 0" class="list-group">
	        <li class="list-group-item" ng-repeat="wgt in widgets">
	        	<div class="disp_table width100">
	        		<div class="tblr">
	        			<div class="tblc">
	        				<span ng-bind="wgt.title"></span>
				        	<br>
				        	<span ng-if="wgt.community">
				        		<span class="fwb">{{"Community_Name" | translate}}:</span> <span ng-bind="wgt.community.label"></span>
				        	</span>
	        			</div>
	        			<div class="tblc" style="width: 65px">
	        				<div class="floatr" style="display: inline;">
						        <div class="btn_delete floatr" title="{{ 'delete' | translate }}" ng-click="deleteWidget(wgt)">
						           <div class="btn_icon">
						            <!-- <i class="fa fa-trash-o"></i> -->
						           </div>
						        </div>
						        <span class="btn_seprator floatr"> &bull; </span>
						        <div class="btn_edit floatr" title="{{ 'edit' | translate }}" ng-click="editWidget(wgt)">
						          <div class="btn_icon">
						            <!-- <i class="fa fa-pencil-square-o"></i> -->
						          </div>
						        </div>
					      	</div>
	        			</div>
	        		</div>
	        	</div>
	        	<!--
	        	<div style="display: inline;">
		        	<span ng-bind="wgt.title"></span>
		        	<br>
		        	<span ng-if="wgt.community">
		        		<span class="fwb">{{"Community_Name" | translate}}:</span> <span ng-bind="wgt.community.label"></span>
		        	</span>
	        	</div>

	        	<div class="floatr" style="display: inline;">
			        <div class="btn_delete floatr" ng-click="deleteWidget(wgt)">
			           <div class="btn_icon">
			            <i class="fa fa-trash-o"></i>
			           </div>
			        </div>
			        <span class="btn_seprator floatr"> • </span>
			        <div class="btn_edit floatr" ng-click="editWidget(wgt)">
			          <div class="btn_icon">
			            <i class="fa fa-pencil-square-o"></i>
			          </div>
			        </div>
		      	</div>
		      	-->
	        </li>
	      </ul>
	    </div>
	</div>
</div>